#spinner-container {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 0 auto;
}

#spin-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#arrow {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}