.game-board {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}

.target {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.red-target {
  background-color: red;
  top: 50px;
  left: 50px;
}

.blue-target {
  background-color: blue;
  top: 250px;
  left: 250px;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: black;
  top: 200px;
  left: 200px;
}